<!DOCTYPE html>
<html lang="en">
<head>
    <%- (require('./common/common_meta'))() %>
    <title>tpl1</title>
    <%- (require('./common/common_header'))() %>
</head>
<body>
    <div>
        <!--sonicdiff-data1-->
        <h1>
            新中国成立的时间是：<%=data.dataDate%>
        </h1>
        <!--sonicdiff-data1-end-->
    </div>
    <div>
        <!--sonicdiff-data2-->
            <h2>
                现在的时间是:<%= (new Date()).toLocaleString() %>
            </h2>
        <!--sonicdiff-data2-end-->
    </div>
    
</body>
</html>